Hello there.
I major in control engineering.
So, I can design control systems that you require and ensure that the systems will be stable.
What' s your objects?
What kinds of control method do you use?
I master LQR, H2, Hoo, Adaptive control and so on.
If you need my top control skills, please contact me.

Thanks.